.margin-left {
    margin-left: 15px;
}

/* Header */
.header {
    background: gray;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;

}

/* End Header */

/*Body*/
.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
}

/*End Body*/

/*Sider*/
.sider .sider-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .sider-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #444;
}

/*End Sider*/

/* Show Alert */
[show-alert] {
    position: fixed;
    padding-right: 35px;
    top: 70px;
    right: 15px;
    z-index: 1000;
    width: fit-content;
    min-width: 300px;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }

    to {
        right: -100%;
        display: none;
    }
}

[close-alert] {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    opacity: 0.5;
    transition: opacity 0.2s;
}

[close-alert]:hover {
    opacity: 1;
    color: #ff0000;
    /* hover chuyển sang đỏ cho nổi bật */
}


/* End Show Alert */
/* Image - preview*/
[upload-image] {
    display: flex;
    flex-direction: column;
    /* xếp theo cột */
    align-items: center;
    /* căn giữa ngang */
}

.preview-wrapper {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: auto;

}

.upload-image-preview {
    display: none;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.remove-pr-img-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

.hidden {
    display: none;
}

/* End image - preview*/